a.button {
  display: inline-block;
  background: map-get($colors, primary);
  padding: map-get($padding, small) map-get($padding, big);
  margin: map-get($margin, small);
  border: 1px solid map-get($colors, white);
  color: black;
  @include border-radius(5px);
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  text-transform: uppercase;
  transition: 300ms ease all;
  font-size: 1rem;

  &:hover {
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.15);
  }
}
