.card {
  background-color: white;
  @include border-radius(5px);
  color: map-get($colors, black);
  padding: map-get($padding, normal);
  padding-bottom: 100px;
  margin: map-get($margin, normal) 0;
  font-size: 1rem;
  transition: 300ms ease all;

  h3 {
    text-align: center;
    font-weight: bold;
    font-size: map-get($font-sizes, h3);
    margin: map-get($margin, normal) 0;
  }
}

.card:hover{
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.15);
}

.hero .card {
  margin-top: 100px;
}

@media only screen and (min-width: 700px) {
  .card {
    margin: 0;
  }
}
